##############################################
# Copier de fichier en kickstart
# pour qu'il soit pris en compte
##############################################
# Commenter les variables si vous ne voulez pas
# qu'elles soient prises en compte
##############################################

###############################################
# Permet de mettre en pause entre chaque
# élement lors de l'install
# Peu importe la valeur, si il est présent, on sera en mode debug
export KS_DEBUG=1

################################################
# Password pour l'auth basique
export KS_PASSWORD=raidisnotabackup

#################################################
# Email de l'utilisateur
export KS_MAIL=monemail@kuebseed.com

#################################################
# Domaine de l'utilisateur
export KS_DOMAIN=kubeseed.com

#################################################
# Adresse mail cloudflare
export KS_CF_MAIL=monemail@kuebseed.com

#################################################
# Adresse mail cloudflare
export KS_CF_API=xxxxxxxxxxxxxxxxxxxxxxxxx

#################################################
# Sous domaine pour traefik
KS_TRAEFIK_SUBDOMAIN=traefik

#################################################
# Auth pour traefik (1= basique, 2= oauth, 3=Aucune)
KS_TRAEFIK_AUTH=1

#################################################
# Sous domaine pour le dashboard
KS_DASHBOARD_SUBDOMAIN=dashboard