apiVersion: traefik.containo.us/v1alpha1
kind: ServersTransport
metadata:
  name: mytransport
  namespace: kubernetes-dashboard
spec:
  serverName: "{{ applis.dashboard.domain}}.{{ user.domain }}"
  insecureSkipVerify: true
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: kubernetes-dashboard-ingress
  namespace: kubernetes-dashboard
spec:
  entryPoints:
  - web
  - websecure
  routes:
  - match: host(`{{ applis.dashboard.domain}}.{{ user.domain }}`)
    kind: Rule
    services:
    - name: kubernetes-dashboard
      port: 443
      serversTransport: mytransport
  tls:
    - secretName: "dashboard-tls"
      hosts:
        - "{{ applis.dashboard.domain }}.{{ user.domain }}"