[Unit]
Description=gmedia mergerfs mount
Requires=rclone.service
After=rclone.service

[Service]
Type=forking
ExecStart=/usr/bin/mergerfs {{ lookup('env','HOME') }}/seedbox/local:{{ lookup('env','RCLONE_MNT_DIR') }} {{ lookup('env','HOME') }}/seedbox/Medias -o rw,use_ino,allow_other,func.getattr=newest,category.action=all,category.create=ff,cache.files=auto-full
ExecStop=/bin/fusermount -u {{ lookup('env','HOME') }}/seedbox/Medias
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target

