apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: oauth
  namespace: kubeseed
spec:
  forwardAuth:
    address: "http://oauth.kubeseed.svc:4181"
    authResponseHeaders:
      - X-Forwarded-User